*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: PlusJakartaSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Helvetica Neue,Ubuntu,sans-serif;
    text-decoration: none;
    color: black;
}

/* #nav-bar{
    display: flex;
} */

body{
    min-width: 1680px;
}

nav {
    background-color: #D1EEFC;
}

ul a{
    text-decoration: none;
    list-style: none;
    color: black;
}



#nav-bar{
    font-size: 1.5em;
    padding: 0.8em;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
}

#nav-bar ul {
    flex: 2;
}

#name-div {
    flex: 1;
    border-bottom: solid #DEE2E6 1px;

}

.nav-tabs {
    justify-content: flex-end;
}

#about{
    padding: 1.5em;
    display: flex;
    min-width: 1744px;
}

#name {
    flex: 1;
}

#about-paragraph {
    flex: 2;
}

#name h4 {
    font-weight: 400;
    font-size: 1.2em;
}

#links ul {
    display: flex;
}

#links ul li{
    width: 10%;
    justify-content: center;
}

#links ul li a{
    display: flex;
    width: 100%;
    padding: 0.9em;
}

#links ul li a:first-child{
    min-width: 61px;
    padding-left: 0;
}

#links ul img {
   width: 100%;
}
/*
nav ul{
    display: flex;
    justify-content: flex-end;
    flex: 2;
    padding-right: 1.5em;
    margin-bottom: 0;
}

nav ul a {
    text-decoration: none;
    color: black;
}

nav ul > * {
    padding-right: 1em;
    padding-left: 1em;
}

#name-div {
    flex: 2;
    display: flex;
    align-items: center;
    padding-left: 0.8em;
}   */

/* nav ul{
    display: flex;
    justify-content: space-between;
}*/
